version: "3.8"

services:
  mcq:
    container_name: mcq_container
    build: "."
    env_file:
      - .env
    ports:
      - "8501:8501"
    volumes:
      - .:/app
      - ./uploads:/app/uploads
      - ./data:/app/data
